<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about" style="font-size: large; color: red;">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="container">
        <h1 style="color: red;">About Us</h1>
        <p style="color: brown;">This is the About page!</p>
    </div>
</body>
</html>
